<div class="row">
  <div class="col-md-4">
    <h3>
      <%= link_to tweet.title, tweet_path(tweet.id) %>
    </h3>

  </div>
  <div class="general_formatting">
    <div class="col-md-2">
      <%= tweet.user.nickname %>
      <small><%= tweet.user.full_name %></small>
    </div>
    <div class="col-md-4">
      <%= tweet.message%>
    </div>

    <div class="col-md-2">
      <%= link_to "Delete Post", tweet_path(tweet.id), method: :delete, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>
