<h1>
  Tweet Details for <%= @tweet.user.nickname %>
  <small> <%= @tweet.user.full_name %> </small>
</h1>

<%= link_to "Go Back", tweets_path %>

<hr>

<div class = "row">
  <div class = "col-md-3">
    When the Tweet Created
  </div>
  <div class="col-md-6">
    Message
  </div>
  <div <div class="col-md-3">
    Email
  </div>
</div>

<hr>
<div class = "row">
  <div class = "col-md-3">
    <%= time_ago_in_words(@tweet.created_at) %> ago
  </div>
  <div class="col-md-6">
    <%= @tweet.message %>
  </div>
  <div <div class="col-md-3">
    <%= @tweet.user.email %>
  </div>
</div>
